# Environment file for ExistingDb.Api (Linux systemd / Docker)
ASPNETCORE_ENVIRONMENT=Production
ASPNETCORE_URLS=http://{{API_BIND_HOST}}:{{API_PORT}}

ConnectionStrings__MainDb={{MAIN_DB_CONNECTION}}
ConnectionStrings__ApiManagementDb={{API_MANAGEMENT_DB_CONNECTION}}

Jwt__SigningKey={{JWT_SIGNING_KEY}}

SeedAdmin__Enabled={{SEED_ADMIN_ENABLED}}
SeedAdmin__UserName={{SEED_ADMIN_USERNAME}}
SeedAdmin__Email={{SEED_ADMIN_EMAIL}}
SeedAdmin__Password={{SEED_ADMIN_PASSWORD}}
